<!DOCTYPE html>
<html lang="ch">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>yeluyang's Pages</title>
</head>

<body>

    <aside>
        About Me
        <ul>
            <li>yeluyang</li>
            <li><a href="https://github.com/yeluyang">github.com/yeluyang</a></li>
        </ul>
    </aside>

    <main>
        Lists of Articles
        <ul id="docs">
            <li v-for="doc in docs"> <a v-bind:href="doc"> {{doc}} </a> </li>
        </ul>
    </main>

    <nav>
        Category
        <ul id="categories">
            <li v-for="category in categories"><a>{{category}}</a></li>
        </ul>
    </nav>

</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="main.js"></script>

</html>
