body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

aside {
    padding: 10px;
    border-style: solid;
    border-width: 2px;
}

main {
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    flex-grow: 1;
}

nav {
    padding: 10px;
    border-style: solid;
    border-width: 2px;
}
